In [13]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [2]:
import pandas as pd

In [3]:
emprestimos_2015_1 = pd.read_csv('datasets/emprestimos/emprestimos-20151.csv',sep=';')
emprestimos_2015_2 = pd.read_csv('datasets/emprestimos/emprestimos-20152.csv',sep=';')
emprestimos_2016_1 = pd.read_csv('datasets/emprestimos/emprestimos-20161.csv',sep=';')
emprestimos_2016_2 = pd.read_csv('datasets/emprestimos/emprestimos-20162.csv',sep=';')
emprestimos_2017_1 = pd.read_csv('datasets/emprestimos/emprestimos-20171.csv',sep=';')
emprestimos_2017_2 = pd.read_csv('datasets/emprestimos/emprestimos-20172.csv',sep=';')

emprestimos = pd.concat([emprestimos_2015_1,emprestimos_2015_2,emprestimos_2016_1,emprestimos_2016_2,emprestimos_2017_1,emprestimos_2017_2])
emprestimos.reset_index(drop=True)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,nome_usuario,id_vinculo_usuario,tipo_vinculo_usuario
0,1895298,2014007904,NaN,2015-01-02 08:48:54.915,2015-02-09 16:15:02,PAULA IVANI MEDEIROS DOS SANTOS,536590,ALUNO DE PÓS-GRADUAÇÃO
1,1895299,2014061826,NaN,2015-01-02 08:48:55.227,2015-02-09 16:15:08,PAULA IVANI MEDEIROS DOS SANTOS,536590,ALUNO DE PÓS-GRADUAÇÃO
2,1895300,2014059501,NaN,2015-01-02 08:48:55.495,2015-02-09 16:15:15,PAULA IVANI MEDEIROS DOS SANTOS,536590,ALUNO DE PÓS-GRADUAÇÃO
3,1895301,2014037987,NaN,2015-01-02 09:01:36.82,2015-04-13 16:54:20,PAULA IVANI MEDEIROS DOS SANTOS,536590,ALUNO DE PÓS-GRADUAÇÃO
4,1895302,2014059024,2015-01-16 16:01:54.126,2015-01-02 09:16:49.566,2015-02-03 16:00:40,FELIPE LIMA DE MENDONÇA,592880,ALUNO DE GRADUAÇÃO
5,1895303,X008775,NaN,2015-01-02 09:19:08.65,2015-01-13 15:22:44,DENIZE ARAUJO BARBOSA,5752026,DOCENTE
6,1895304,2006034262,NaN,2015-01-02 09:19:08.954,2015-01-13 15:22:53,DENIZE ARAUJO BARBOSA,5752026,DOCENTE
7,1895305,2011061325,NaN,2015-01-02 09:44:42.808,2015-01-23 17:19:31,DANIEL MENESCAL JALES,639947,ALUNO DE GRADUAÇÃO
8,1895306,2013033346,NaN,2015-01-02 09:44:43.127,2015-01-23 17:19:36,DANIEL MENESCAL JALES,639947,ALUNO DE GRADUAÇÃO
9,1895307,2014035233,2015-01-15 12:57:15.934,2015-01-02 10:11:09.837,2015-02-02 10:13:40,FAGNER OLIVEIRA DA SILVA,528091,ALUNO DE GRADUAÇÃO
10,1895308,2014006710,NaN,2015-01-02 10:19:38.087,2015-01-02 10:19:56,ROBSON DA COSTA CARNEIRO,641721,ALUNO DE GRADUAÇÃO
11,1895309,2012052321,2015-01-31 10:35:01.987,2015-01-02 10:20:48.63,2015-03-02 15:50:06,ANGELICA TERESA NASCIMENTO DE MEDEIROS,598617,ALUNO DE PÓS-GRADUAÇÃO
12,1895310,2014055802,2015-01-17 12:31:05.134,2015-01-02 10:25:40.883,2015-02-02 16:26:47,GABRIEL NOGUEIRA DA SILVA DANTAS,592899,ALUNO DE GRADUAÇÃO
13,1895311,2013078266,2015-01-19 21:48:42.886,2015-01-02 10:54:01.218,2015-02-04 19:21:59,JAIANI RENAIDE DE MEDEIROS MIRANDA,618533,ALUNO DE GRADUAÇÃO
14,1895312,L174572,NaN,2015-01-02 11:12:59.882,2015-02-06 17:19:28,PATRICIA SAYONARA LIMA DE ARAUJO PEREIRA,26820787,ALUNO DE PÓS-GRADUAÇÃO
15,1895313,2012023050,NaN,2015-01-02 11:13:00.12,2015-01-02 12:44:36,PATRICIA SAYONARA LIMA DE ARAUJO PEREIRA,26820787,ALUNO DE PÓS-GRADUAÇÃO
16,1895314,2013113628,2015-02-02 10:52:13.647,2015-01-02 11:22:38.671,2015-02-11 20:11:10,ADAILSON TAVARES DE MACEDO,22775,DOCENTE
17,1895315,2014062026,2015-02-02 10:52:13.377,2015-01-02 11:22:38.961,2015-03-02 17:51:01,ADAILSON TAVARES DE MACEDO,22775,DOCENTE
18,1895316,2009030611,NaN,2015-01-02 11:36:17.722,2015-01-02 12:49:55,PATRICIA SAYONARA LIMA DE ARAUJO PEREIRA,26820787,ALUNO DE PÓS-GRADUAÇÃO
19,1895317,S019909,NaN,2015-01-02 11:36:59.492,2015-01-21 10:36:53,PEDRO HENRIQUE ALCANTARA DA SILVA,520312,ALUNO DE GRADUAÇÃO
20,1895318,2010092400,NaN,2015-01-02 11:36:59.812,2015-01-21 10:37:11,PEDRO HENRIQUE ALCANTARA DA SILVA,520312,ALUNO DE GRADUAÇÃO
21,1895319,2013087806,NaN,2015-01-02 11:55:44.206,2015-01-05 08:48:55,JACQUELINE TAVARES DA SILVA,637888,ALUNO DE GRADUAÇÃO
22,1895320,2014035467,2015-01-19 11:09:14.834,2015-01-02 11:55:44.555,2015-02-03 11:35:51,JACQUELINE TAVARES DA SILVA,637888,ALUNO DE GRADUAÇÃO
23,1895321,2014019256,NaN,2015-01-02 12:00:13.432,2015-01-30 08:16:35,MARIA JUCIMEIRE DOS SANTOS,5757217,DOCENTE
24,1895322,2014019178,NaN,2015-01-02 12:00:13.728,2015-01-27 13:35:37,MARIA JUCIMEIRE DOS SANTOS,5757217,DOCENTE
25,1895323,2010013742,NaN,2015-01-02 12:10:51.871,2015-01-14 11:40:46,PAOLO RICCARDO MIRANDA DE ARAUJO,5756883,SERVIDOR TÉCNICO-ADMINISTRATIVO
26,1895324,2014000850,2015-01-19 12:05:52.595,2015-01-02 12:12:24.75,2015-02-03 09:29:49,JOÃO PEDRO QUERINO DA SILVA,558652,ALUNO DE GRADUAÇÃO
27,1895325,L150304,2015-01-19 08:52:01.539,2015-01-02 12:20:54.847,2015-01-23 13:21:49,RAPHAEL LUIZ DE OLIVEIRA SILVA,591470,ALUNO DE GRADUAÇÃO
28,1895326,2008009575,2015-01-17 09:29:54.302,2015-01-02 12:26:43.571,2015-01-30 07:37:10,ANILSON ERICK SILVA DE OLIVEIRA,642395,ALUNO DE GRADUAÇÃO
29,1895327,2010072725,2015-01-17 09:29:53.78,2015-01-02 12:26:43.84,2015-01-30 07:37:01,ANILSON ERICK SILVA DE OLIVEIRA,642395,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
684694,2580553,2007041923,2018-01-28 06:56:46.504,2017-12-29 15:44:09.871,2018-02-28 18:53:22,EMANUEL LINS GALVAO DE ALBUQUERQUE BASTOS,752252,ALUNO DE PÓS-GRADUAÇÃO
684695,2580554,2009026061,2018-01-28 06:56:46.482,2017-12-29 15:44:09.91,2018-02-28 18:54:36,EMANUEL LINS GALVAO DE ALBUQUERQUE BASTOS,752252,ALUNO DE PÓS-GRADUAÇÃO
684696,2580555,2010061497,2018-01-28 06:56:46.462,2017-12-29 15:44:09.953,2018-02-28 18:54:20,EMANUEL LINS GALVAO DE ALBUQUERQUE BASTOS,752252,ALUNO DE PÓS-GRADUAÇÃO
684697,2580556,2014013144,2018-01-28 06:56:46.439,2017-12-29 15:44:10.001,2018-02-28 18:53:39,EMANUEL LINS GALVAO DE ALBUQUERQUE BASTOS,752252,ALUNO DE PÓS-GRADUAÇÃO
684698,2580557,2013107349,NaN,2017-12-29 15:45:28.029,2018-01-29 17:55:56,JHONATHAN LIMA DE SOUZA,650345,ALUNO DE GRADUAÇÃO
684699,2580558,2008009647,NaN,2017-12-29 16:01:58.732,2018-01-23 16:24:18,ANDRESSA CAROLINE DE LARA MENEZES DE MEDEIROS,712011,ALUNO DE PÓS-GRADUAÇÃO
684700,2580559,2009063247,NaN,2017-12-29 16:01:58.773,2018-01-23 16:24:26,ANDRESSA CAROLINE DE LARA MENEZES DE MEDEIROS,712011,ALUNO DE PÓS-GRADUAÇÃO
684701,2580560,2013071113,2018-01-15 06:32:47.58,2017-12-29 16:06:17.341,2018-01-30 15:43:18,SUSANA GARCIA SABINO,733577,ALUNO DE GRADUAÇÃO
684702,2580561,2013089623,2018-01-15 06:32:47.55,2017-12-29 16:06:17.387,2018-01-30 15:43:22,SUSANA GARCIA SABINO,733577,ALUNO DE GRADUAÇÃO
684703,2580562,L151711,NaN,2017-12-29 16:06:22.697,2018-02-05 10:11:39,ISABELLA DONADELLO DUARTE,749166,ALUNO DE GRADUAÇÃO
684704,2580563,2015030195,NaN,2017-12-29 16:07:40.807,2018-01-04 13:21:14,RAPHAELA WANDERLEY DE MACÊDO CORTEZ,749170,ALUNO DE GRADUAÇÃO
684705,2580564,L191418,NaN,2017-12-29 16:10:24.642,2018-01-02 11:08:17,JOSUÉ DANTAS BELARMINO,716673,ALUNO DE GRADUAÇÃO
684706,2580565,2009008634,NaN,2017-12-29 16:32:28.273,2018-01-24 12:02:30,ISABELLA DONADELLO DUARTE,749166,ALUNO DE GRADUAÇÃO
684707,2580566,2010030268,NaN,2017-12-29 16:34:03.674,2018-01-02 16:44:56,CAROLINA TAVARES PAULA,724354,ALUNO DE PÓS-GRADUAÇÃO
684708,2580567,2017008853,NaN,2017-12-29 16:34:03.716,2018-01-02 16:45:02,CAROLINA TAVARES PAULA,724354,ALUNO DE PÓS-GRADUAÇÃO
684709,2580568,2017019989,NaN,2017-12-29 16:34:03.755,2018-01-09 15:42:49,CAROLINA TAVARES PAULA,724354,ALUNO DE PÓS-GRADUAÇÃO
684710,2580569,2010049750,NaN,2017-12-29 16:47:11.533,2018-01-22 10:47:03,MAYRA LISYER DE SIQUEIRA DANTAS,616532,ALUNO DE GRADUAÇÃO
684711,2580570,2012008968,NaN,2017-12-29 16:47:11.592,2018-01-22 10:47:15,MAYRA LISYER DE SIQUEIRA DANTAS,616532,ALUNO DE GRADUAÇÃO
684712,2580571,2010088533,NaN,2017-12-29 17:08:47.002,2018-01-09 16:51:52,FLAVIO EUCLIDES DO NASCIMENTO,735348,ALUNO DE GRADUAÇÃO
684713,2580572,L122565,2018-01-29 14:59:19.705,2017-12-29 17:09:38.87,2018-02-21 17:18:01,ELISABETE FERREIRA DA SILVEIRA GUILHERME,723839,ALUNO DE PÓS-GRADUAÇÃO
684714,2580573,2017021897,NaN,2017-12-29 17:09:38.921,2018-01-02 16:33:53,ELISABETE FERREIRA DA SILVEIRA GUILHERME,723839,ALUNO DE PÓS-GRADUAÇÃO
684715,2580574,2008015385,NaN,2017-12-29 17:17:31.985,2018-01-02 16:18:52,MARIA LUCIENE URBANO DE BARROS,722855,ALUNO DE PÓS-GRADUAÇÃO
684716,2580575,2013089045,NaN,2017-12-29 17:17:32.026,2018-01-02 16:19:00,MARIA LUCIENE URBANO DE BARROS,722855,ALUNO DE PÓS-GRADUAÇÃO
684717,2580576,2014078566,NaN,2017-12-29 17:17:32.066,2018-01-02 16:19:10,MARIA LUCIENE URBANO DE BARROS,722855,ALUNO DE PÓS-GRADUAÇÃO
684718,2580577,2017022347,2018-01-29 18:55:50.287,2017-12-29 17:17:32.104,2018-01-31 14:12:45,MARIA LUCIENE URBANO DE BARROS,722855,ALUNO DE PÓS-GRADUAÇÃO
684719,2580578,2016038987,NaN,2017-12-29 17:17:32.147,2018-01-02 16:18:44,MARIA LUCIENE URBANO DE BARROS,722855,ALUNO DE PÓS-GRADUAÇÃO
684720,2580579,2015046054,2018-01-15 03:13:04.443,2017-12-29 17:25:25.068,2018-01-30 16:49:20,THALIA RAFAELLY LIMA DOS SANTOS,744772,ALUNO DE GRADUAÇÃO
684721,2580580,2012054445,NaN,2017-12-29 18:18:48.006,2018-01-02 18:22:17,GABRIEL MIRANDA BRITO,716522,ALUNO DE PÓS-GRADUAÇÃO
684722,2580581,2013093013,NaN,2017-12-29 18:18:48.055,2018-01-02 18:22:10,GABRIEL MIRANDA BRITO,716522,ALUNO DE PÓS-GRADUAÇÃO
684723,2580582,2014070441,2018-01-15 12:26:00.697,2017-12-29 18:21:09.06,2018-01-31 18:50:25,MAGALY ALEXANDRE SANTIAGO,651566,ALUNO DE GRADUAÇÃO

In [33]:
discentes_2009 = pd.read_csv('datasets/discentes/discentes-2009.csv',sep=';')
discentes_2010 = pd.read_csv('datasets/discentes/discentes-2010.csv',sep=';')
discentes_2011 = pd.read_csv('datasets/discentes/discentes-2011.csv',sep=';')
discentes_2012 = pd.read_csv('datasets/discentes/discentes-2012.csv',sep=';')
discentes_2013 = pd.read_csv('datasets/discentes/discentes-2013.csv',sep=';')
discentes_2014 = pd.read_csv('datasets/discentes/discentes-2014.csv',sep=';')
discentes_2015 = pd.read_csv('datasets/discentes/discentes-2015.csv',sep=';')
discentes_2016 = pd.read_csv('datasets/discentes/discentes-2016.csv',sep=';')
discentes_2017 = pd.read_csv('datasets/discentes/discentes-2017.csv',sep=';')

discentes = pd.concat([discentes_2009,discentes_2010,discentes_2011,discentes_2012,discentes_2013,discentes_2014,discentes_2015,discentes_2016,discentes_2017])
discentes.reset_index(drop=True)

import plotly_express as px

ano_ingresso = pd.DataFrame(discentes.groupby('ano_ingresso', as_index=False).agg('tipo_discente').count())
ano_ingresso.columns = ['ano','quantidade']

ingresso_nivel_ensino = pd.DataFrame(discentes.groupby(['nivel_ensino','ano_ingresso'], as_index=False).agg('tipo_discente').count())
ingresso_nivel_ensino = pd.pivot_table(ingresso_nivel_ensino, index='ano_ingresso',columns=['nivel_ensino'])
ingresso_nivel_ensino.columns = ingresso_nivel_ensino.columns.droplevel(level=0)

ingresso_nivel_ensino

nivel_ensino,DOUTORADO,FORMAÇÃO COMPLEMENTAR,FUNDAMENTAL,GRADUAÇÃO,INFANTIL,LATO SENSU,MESTRADO,MÉDIO,RESIDÊNCIA,STRICTO SENSU,TÉCNICO,TÉCNICO INTEGRADO
ano_ingresso,,,,,,,,,,,,
2009,456.0,NaN,30.0,7507.0,NaN,474.0,1784.0,15.0,4.0,1.0,326.0,4.0
2010,629.0,NaN,133.0,8884.0,122.0,2162.0,1895.0,51.0,32.0,NaN,1662.0,95.0
2011,616.0,800.0,20.0,8352.0,NaN,1698.0,1931.0,34.0,73.0,NaN,778.0,NaN
2012,618.0,1354.0,9.0,10250.0,44.0,1048.0,1989.0,41.0,84.0,NaN,2019.0,53.0
2013,722.0,3658.0,9.0,8713.0,60.0,3058.0,2103.0,10.0,93.0,NaN,3702.0,192.0
2014,681.0,1131.0,17.0,9273.0,77.0,2685.0,2303.0,NaN,91.0,NaN,4181.0,166.0
2015,728.0,1185.0,14.0,7668.0,87.0,2170.0,2225.0,NaN,90.0,NaN,4914.0,127.0
2016,825.0,1462.0,28.0,8234.0,2.0,2115.0,2742.0,NaN,205.0,NaN,2490.0,131.0
2017,704.0,1384.0,64.0,9540.0,47.0,1053.0,2545.0,NaN,215.0,NaN,7179.0,139.0

In [5]:
cursos = pd.read_csv('datasets/cursos/cursos-ufrn.csv',sep=';')

In [46]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.offline as offline

doutorado = go.Bar(x=ingresso_nivel_ensino.index,y=ingresso_nivel_ensino.DOUTORADO,name='Doutorado')
graduacao = go.Bar(x=ingresso_nivel_ensino.index,y=ingresso_nivel_ensino.GRADUAÇÃO,name='Graduação')
mestrado = go.Bar(x=ingresso_nivel_ensino.index,y=ingresso_nivel_ensino.MESTRADO,name='Mestrado')
tecnico = go.Bar(x=ingresso_nivel_ensino.index,y=ingresso_nivel_ensino.TÉCNICO,name='Técnico')

data = [doutorado,mestrado,graduacao,tecnico]

layout = go.Layout(title="Ingressos por ano em diferentes níveis de ensino",
        xaxis=dict(title='Quantidade de ingressos'),
        yaxis=dict(title='Ano'),
        paper_bgcolor='rgb(240, 240, 240)',
        plot_bgcolor='rgb(240, 240, 240)'
    )

fig = go.Figure(data=data,layout=layout)
offline.iplot(fig)